<div
  id="post"
  class="post last:mb-20 p-3 my-3 border border-stone-950 border-solid rounded-lg"
>
  <div class="post-header flex align-middle justify-between">
    <div class="post-start flex gap-2">
      <div class="user-img w-14 h-14 me-3">
        <img
          src="{{ post().userPhoto ? post().userPhoto : defualtImg }}"
          alt="User Image"
          class="w-full rounded-full"
        />
      </div>

      <div class="flex flex-col text-slate-500">
        <span>{{ "@" + post().username }} </span>
      </div>
    </div>
    <div class="post-end">
      @if (userId === post().userId) {
      <button
        type="button"
        class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-sm rounded-full text-sm px-3 py-2 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        (click)="DeletePost(post().id, $event)"
      >
        Delete
      </button>
      }
    </div>
  </div>
  <div class="post-body my-4">
    <p>{{ post().content }}</p>
    @if (post().imgUrl) {
    <div class="post-img w-full max-h-80 overflow-y-hidden mt-2">
      <img src="{{ post().imgUrl }}" alt="User Image" class="w-full" />
    </div>
    }
  </div>
  <div class="post-footer text-end">
    <button
      type="button"
      class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:outline-none font-medium rounded-lg text-sm px-6 py-2 text-center me-2 mb-2"
    >
      <i class="fa-regular fa-heart"></i>
      Like
    </button>
  </div>
</div>
