ul {
  text-align: start;
  height: 100vh;
  display: block;
  border-right: 1.5px solid #ccc;
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 7px 0;
    cursor: pointer;

    // use effects
    &:is(:hover, .active) {
      // color: var(--main-color);
      background-color: var(--item-bg-active-color);
    }

    & .icon {
      color: var(--main-color);
      margin-right: 10px;
    }

    img {
      max-width: 30px;
      border-radius: 50%;
      margin-right: 7px;
    }
  }
}
