<ul>
  <li><fa-icon class="icon" [icon]="icons.Home"></fa-icon> Home</li>
  <li><fa-icon class="icon" [icon]="icons.Profile"></fa-icon> Profile</li>
  <li><fa-icon class="icon" [icon]="icons.Search"></fa-icon> Search</li>
  <li>
    <fa-icon class="icon" [icon]="icons.Notification"></fa-icon> Notification
  </li>
  <li><fa-icon class="icon" [icon]="icons.Message"></fa-icon> Messages</li>
  <li (click)="logout()">
    <fa-icon class="icon" [icon]="icons.Logout"></fa-icon>
    Logout
  </li>
</ul>
