/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

// regular style toast
@import "ngx-toastr/toastr";
* {
  box-sizing: border-box;
}

:root {
  --item-bg-color: #fefefe;
  --item-bg-active-color: #b9dcf8;
  --main-color: rgb(164, 100, 255);
  --hover-color: rgb(132, 84, 199);
  --text-color: #fff;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-holder {
  height: calc(100vh - 94.5px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 50px;
  left: 0;
  background-color: var(--text-color);
}
