/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

// regular style toast
@import "ngx-toastr/toastr";
* {
  box-sizing: border-box;
}

:root {
  --item-bg-color: #fefefe;
  --item-bg-active-color: #b9dcf8;
  --main-color: #03a9f4;
  --hover-color: #0381bb;
  --text-color: #fff;
}
ul {
  margin: 0;
  padding: 0 !important;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
}
