<div class="container">
  <div class="row mt-4">
    <div class="col-3">
      <img
        class="mw-100"
        src="{{ user ? user.photoURL : defualtPhoto }}"
        alt="Profile"
      />
    </div>
    <div class="col-9" *ngIf="!user">
      <h4 class="text-primary">User Full Name</h4>
      <ul class="text-secondary">
        <li>UserName</li>
        <li>Email</li>
        <li>Country, City</li>
        <li>DateOfBirth</li>
      </ul>
    </div>
    <div class="col-9" *ngIf="user">
      <h4 class="text-primary">{{ user.firstName }} {{ user.lastName }}</h4>
      <ul class="text-secondary">
        <li>{{ user.userName }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.country }}, {{ user.city }}</li>
        <li>{{ user.dateOfBirth }}</li>
      </ul>
      <button
        mat-button
        class="fixed right-4 bottom-16 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="openDialog()"
      >
        <fa-icon class="icon" [icon]="icons.Create"></fa-icon>
        Create Post
      </button>
    </div>
  </div>

  <br />
  <hr />

  @if (user && user.userPosts.length > 0) { @for (post of user.userPosts; track
  post.id) {
  <app-post [post]="post" />
  } }
</div>
