<div
  class="post last:mb-20 p-3 my-3 border border-stone-950 border-solid rounded-lg transition-all"
  #postElement
>
  <div class="post-header flex align-middle justify-between">
    <div class="post-start flex gap-2">
      <div class="user-img w-14 h-14 me-3">
        <img
          src="{{ post().userPhoto ? post().userPhoto : defualtImg }}"
          alt="User Image"
          class="w-full rounded-full"
        />
      </div>

      <div class="flex flex-col text-slate-500">
        <span class="font-semibold text-slate-700">{{
          post().firstName + " " + post().lastName
        }}</span>
        <span>{{ "@" + post().username }} </span>
      </div>
    </div>
    <div class="post-end">
      @if (userId === post().userId) {
      <button
        type="button"
        class="text-whitefocus:outline-none text-red-600"
        (click)="DeletePost(post().id, $event)"
      >
        <i class="fa-solid fa-trash-can fa-lg"></i>
      </button>
      }
    </div>
  </div>
  <div class="post-body my-4">
    <p>{{ post().content }}</p>
    @if (post().imgUrl) {
    <div class="post-img w-full max-h-80 overflow-y-hidden mt-2">
      <img src="{{ post().imgUrl }}" alt="User Image" class="w-full" />
    </div>
    }
  </div>
  <div class="post-footer text-end">
    <button
      type="button"
      #button
      (mouseenter)="likedButtonHoverd = true"
      (mouseleave)="likedButtonHoverd = false"
      (click)="LikePost(post().id, button)"
    >
      <div class="text">
        <i
          id="icon"
          class="fa-heart me-2 fa-xl text-purple-700 transition-all"
          [ngClass]="
            post().isLiked || likedButtonHoverd ? 'fa-solid' : 'fa-regular'
          "
        ></i>
        {{ post().likes }}
      </div>
    </button>
  </div>
</div>
