<ul class="flex text-center" #navigator>
  <li
    class="flex-1"
    routerLink="timeline"
    routerLinkActive="active"
    title="Home"
  >
    <fa-icon class="icon" [icon]="icons.Home"></fa-icon>
  </li>
  <li
    class="flex-1"
    routerLink="profile"
    routerLinkActive="active"
    title="Profile"
  >
    <fa-icon class="icon" [icon]="icons.Profile"></fa-icon>
  </li>
  <li
    class="flex-1"
    routerLink="explore"
    routerLinkActive="active"
    title="Search"
  >
    <i class="fa-solid fa-people-group icon"></i>
  </li>
  <li class="flex-1" title="Notification">
    <fa-icon class="icon" [icon]="icons.Notification"></fa-icon>
  </li>
  <li
    class="flex-1"
    routerLink="contact"
    routerLinkActive="active"
    title="contact"
  >
    <fa-icon class="icon" [icon]="icons.Message"></fa-icon>
  </li>
</ul>
