<div class="container">
  <div class="row">
    <div class="col-md-4 auth-form">
      <form
        autocomplete="off"
        [formGroup]="registerForm"
        (ngSubmit)="register()"
      >
        <div class="row my-3">
          <!-- Client side Validtions  -->
          <div
            class="col-12 mb-3"
            *ngIf="!registerForm.valid && registerForm.touched"
          >
            <ul>
              <li *ngIf="isNotValid('FirstName')" class="text-danger">
                First Name Requird Alphapetic Charcaters
              </li>
              <li *ngIf="isNotValid('LastName')" class="text-danger">
                Last Name Requird Alphapetic Charcaters
              </li>
              <li *ngIf="isNotValid('Username')" class="text-danger">
                Last Name Requird Alphapetic Charcaters in length 15 Charcaters
                only
              </li>
              <li *ngIf="isNotValid('Email')" class="text-danger">
                Write Valid Email
              </li>
              <li *ngIf="isNotValid('PhoneNumber')" class="text-danger">
                Write Valid Phone Number
              </li>
              <li *ngIf="isNotValid('Country')" class="text-danger">
                City And Contry are Requird
              </li>
              <li *ngIf="isNotValid('ConfrimPassword')" class="text-danger">
                Confirm Password should be as same as password
              </li>
            </ul>
          </div>
          <!-- Server side Validations -->
          <div role="alert" *ngIf="errors">
            <ul>
              <li class="text-danger" *ngFor="let err of errors">{{ err }}</li>
            </ul>
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Fisrt Name"
              formControlName="FirstName"
            />
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              formControlName="LastName"
            />
          </div>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            formControlName="Username"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="Email"
          />
        </div>
        <div class="row my-3">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="Conrty"
              formControlName="Country"
            />
          </div>
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              placeholder="City"
              formControlName="City"
            />
          </div>
        </div>
        <div class="mb-3">
          <input
            type="date"
            class="form-control"
            placeholder="Date of Birth"
            formControlName="DateOfBirth"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Phone number"
            formControlName="PhoneNumber"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Passowrd"
            formControlName="Password"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Passowrd"
            formControlName="ConfrimPassword"
          />
        </div>

        <div class="buttons">
          <input
            class="btn btn-primary"
            type="submit"
            value="Register"
            [disabled]="!registerForm.valid"
          />
        </div>
      </form>
    </div>
    <div class="col-md-8 text-center">
      <img class="mw-100" src="./../../assets/socialmedia.png" alt="Conwi" />
    </div>
  </div>
</div>
