ul {
  background-color: var(--item-bg-color);
}
.icon {
  color: var(--main-color);
  font-size: 22px;
  display: inline-block;
  padding: 10px 0;

  &:is(:hover, .active) {
    color: var(--hover-color);
  }
}
