ul {
  background-color: var(--item-bg-color);
}

.icon {
  color: var(--main-color);
  font-size: 22px;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}
.icon:is(:hover),
li:is(.active) .icon {
  color: var(--hover-color);
}
