<div class="container">
  <div class="holder mx-auto md:w-3/5 sm:w-full">
    <!-- Webiste Name -->
    <div class="header-left">
      <h2 class="m-0">Conwi</h2>
    </div>

    <div class="header-right">
      @if (!isAuth) {
      <form #form="ngForm" (ngSubmit)="Login(form)">
        <div class="d-flex">
          <input
            type="text"
            name="username"
            ngModel
            required
            class="form-control mx-3"
            placeholder="Email or username"
          />
          <input
            name="password"
            ngModel
            required
            type="password"
            class="form-control me-3"
            placeholder="Passowrd"
          />
          <input
            class="btn btn-light"
            type="submit"
            value="Login"
            [disabled]="!form.valid"
          />
        </div>
      </form>
      }@else{
      <button class="flex-1 ms-auto" title="Logout" (click)="logout()">
        <fa-icon
          class="text-xl text-white hover:text-gray-300"
          [icon]="icons.Logout"
        ></fa-icon>
      </button>
      }
    </div>
  </div>
</div>
